@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Overpass;
    
}

@media only screen and (max-width:400px){

    body{
        
margin-left: 3%;
margin-top: 35%;
    }
    #container{
        border: solid black 1px;
        width: 375px;
        height: 375px;
        border-radius: 15px;
        background-color: hsl(213, 19%, 18%);
        

    }


    #photo{
        margin-top: 5%;
        margin-left: 27%;
    }
    #selection{
        border: solid  rgb(47, 57, 70) 1px;
        border-radius: 20px;
        width: 55%;
        text-align: center;
        color: hsl(25, 97%, 53%);
        padding: 5px;
        font-size: 15px;
        background-color: rgb(47, 57, 70);
        margin-left: 23%;
        margin-top: 5%
    }
    #title{
        color: white;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        margin-top: 8%;
    }
    #text{
        text-align: center;
        font-size: 15px;
        color: hsl(217, 12%, 63%);
        line-height: 22px;
        margin-top: 5%;
    }
    
}